body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #555;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    padding: 20px;
}